﻿@page "/login"
@using Blog.Api.Models

<div class="d-flex justify-content-center">
    <EditForm OnValidSubmit="@SendLogin">
        <div class="row justify-content-center">
            <h2>Login</h2>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email: </label>
            <input class="col-sm-8 form-control" type="email" @bind-value="Password" />
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password: </label>
            <input class="col-sm-8 form-control" type="password" @bind-value="Password" />
        </div>

        <div class="form-group row">
            <input class="btn btn-primary offset-sm-4 col-sm-4" type="button" value="Login" @onclick="SendLogin" />
        </div>
    </EditForm>
</div>



@code {
    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string Password { get; set; }

    public void SendLogin()
    {
        var loginRequestModel = new UserLoginRequestModel { Email = Email, Password = Password };
    }
}
